<div class="container">
  <!--<h4 class="text-danger text-center">List Available Books in the library</h4><br/>-->
  <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
    <tr>
      <th>ID</th>
      <th>Subject</th>
      <th>Qty</th>
      <th>Authors</th>
      <th>Avail Books</th>
      <th>Price</th>
      <th>PublishDate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of this.issuedBooks">
      <td>{{ book.id }}</td>
      <td>{{ book.subject }}</td>
      <td>{{ book.bookQty }}</td>
      <td>
        <span>{{ book.authors | slice: 0:limit }}</span>
      </td>
      <td>{{ book.availBooks }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.publishedDate }}</td>
    </tr>
    </tbody>
  </table>
</div>
