<br/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab"
             routerLink="./list" role="tab" aria-controls="nav-about" aria-selected="false">List</a>
          <a class="nav-item nav-link" id="nav-list-all-books-tab" data-toggle="tab"
             routerLink="./add" role="tab" aria-controls="nav-list-all-books"
             aria-selected="false">Add</a>
          <a class="nav-item nav-link" id="nav-list-avail-books-tab" data-toggle="tab"
             routerLink="./update" role="tab" aria-controls="nav-list-avail-books" aria-selected="false">Update</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
