<div class="container">
  <!--<h4 class="text-danger text-center">List Available Books in the library</h4><br/>-->
  <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
    <tr>
      <th>ISBN</th>
      <th>Subject</th>
      <th>Book Name</th>
      <th>Student</th>
      <th>Authors</th>
      <th>Price</th>
      <th>Issue Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of this.issuedBooks">
      <td>{{ book.isbn }}</td>
      <td>{{ book.subject }}</td>
      <td>{{ book.bookName }}</td>
      <td>{{ book.studentName }}</td>
      <td>
        <span>{{ book.authors | slice: 0:limit }}</span>
      </td>
      <td>{{ book.price }}</td>
      <td>{{ book.issuedDate }}</td>
      <td>
        <button style="background-color: cornflowerblue" (click)="returnBook(book)">Return</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
