<div class="container">
  <!--<h4 class="text-danger text-center">List Available Books in the library</h4><br/>-->
  <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
    <tr>
      <th>ISBN</th>
      <th>Subject</th>
      <th>Book Name</th>
      <th>Student</th>
      <th>Authors</th>
      <th>Price</th>
      <th>Issue Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of this.issuedBooks">
      <td>{{ book.isbn }}</td>
      <td>{{ book.subject }}</td>
      <td>{{ book.bookName }}</td>
      <td>{{ book.studentName }}</td>
      <td>
        <span>{{ book.authors | slice: 0:limit }}</span>
      </td>
      <td>{{ book.price }}</td>
      <td>{{ book.issuedDate }}</td>
      <td>
        <!--<button style="background-color: cornflowerblue" (click)="returnBook(book)">Return</button>-->
        <button style="background-color: cornflowerblue" (click)="openPopup(book)">Return</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-primary">Return Issued Book</h4>
        <button type="button" class="close btn btn-danger" (click)="closePopup()"
                data-dismiss="modal">
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="col-xl-12">
          <label>Book Name :</label>
          <span> {{bookName}}</span><br/><br/>
          <label>Return Date :</label>&nbsp;&nbsp;
          <input type="datetime-local" id="birthdaytime" name="birthdaytime" [(ngModel)]="returnDate">
        </div>
      </div>
      <br/><br/>
      <div class="modal-footer">
        <span class="text-danger">{{errorMessage}}</span>
        <button [disabled]="loading" class="btn btn-primary" (click)="returnIssuedBook()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Return Book
        </button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
