
<!--<router-outlet></router-outlet>-->

<br/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" routerLink="/" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
          <a class="nav-item nav-link" id="nav-list-all-books-tab" data-toggle="tab" routerLink="/listAllBooks" role="tab" aria-controls="nav-list-all-books" aria-selected="false">List All Books</a>
          <a class="nav-item nav-link" id="nav-list-avail-books-tab" data-toggle="tab" routerLink="/listAvailBooks" role="tab" aria-controls="nav-list-avail-books" aria-selected="false">List Avail Books</a>
          <a class="nav-item nav-link" id="nav-add-book-tab" data-toggle="tab" routerLink="/addBook" role="tab" aria-controls="nav-add-book" aria-selected="false">Add Book</a>
          <a class="nav-item nav-link" id="nav-update-book-tab" data-toggle="tab" routerLink="/updateBook" role="tab" aria-controls="nav-update-book" aria-selected="false">Update Book</a>
          <a class="nav-item nav-link" id="nav-return-book-tab" data-toggle="tab" routerLink="/returnBook" role="tab" aria-controls="nav-return-book" aria-selected="false">Return Book</a>
          <a class="nav-item nav-link" id="nav-del-book-tab" data-toggle="tab" routerLink="/deleteBook" role="tab" aria-controls="nav-del-book" aria-selected="false">Del Book</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" routerLink="/about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
