
<div class="card loginDiv">
  <h4 class="card-header bg-primary">Library Management Login</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control"
               placeholder="Enter User Name"
               (keypress)="omitSpecialCharsNumbers($event)"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
          <div *ngIf="f.username.errors.cannotContainSpace">User Name cannot contain spaces</div>
          <div *ngIf="f.username.errors.minlength">User Name must be at least 4 characters</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control"
               placeholder="Enter Password"
               (keypress)="omitSpecialChars($event)"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.cannotContainSpace">Password cannot contain spaces</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Login
        </button>
        <a routerLink="../register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
