<div class="card registerDiv">
  <h4 class="card-header">Add New Student</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Student Id</label>
            <input type="text" formControlName="studentId" class="form-control"
                   placeholder="Enter Student Id"
                   (keypress)="allowOnlyNumbers($event)"
                   [ngClass]="{ 'is-invalid': submitted && f.studentId.errors }"/>
            <div *ngIf="submitted && f.studentId.errors" class="invalid-feedback">
              <div *ngIf="f.studentId.errors.required">Student Id is required</div>
              <div *ngIf="f.studentId.errors.cannotContainSpace">Student Id cannot contain spaces</div>
              <div *ngIf="f.studentId.errors.minlength">Student Id must be at least 4 characters</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control"
                   placeholder="Enter Email Id"
                   (keypress)="omitSpaces($event)"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email Id is required</div>
              <div *ngIf="f.email.errors.cannotContainSpace">Email Id cannot contain spaces</div>
              <div *ngIf="f.email.errors.minlength">Email Id must be at least 4 characters</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Student Name</label>
        <input type="text" formControlName="studentName" class="form-control"
               placeholder="Enter Student Name"
               (keypress)="omitSpecialChars($event)"
               [ngClass]="{ 'is-invalid': submitted && f.studentName.errors }"/>
        <div *ngIf="submitted && f.studentName.errors" class="invalid-feedback">
          <div *ngIf="f.studentName.errors.required">Student Name is required</div>
          <div *ngIf="f.studentName.errors.cannotContainSpace">Student Name cannot contain spaces</div>
          <div *ngIf="f.studentName.errors.minlength">Student Name must be at least 4 characters</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Father Name</label>
        <input type="text" formControlName="fatherName" class="form-control"
               placeholder="Enter Father Name"
               (keypress)="omitSpecialChars($event)"
               [ngClass]="{ 'is-invalid': submitted && f.fatherName.errors }"/>
        <div *ngIf="submitted && f.fatherName.errors" class="invalid-feedback">
          <div *ngIf="f.fatherName.errors.required">Father Name is required</div>
          <div *ngIf="f.fatherName.errors.cannotContainSpace">Father Name cannot contain spaces</div>
          <div *ngIf="f.fatherName.errors.minlength">Father Name must be at least 4 characters</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Mobile</label>
            <input type="text" formControlName="mobile" class="form-control"
                   placeholder="Enter Mobile"
                   (keypress)="allowOnlyNumbers($event)"
                   [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"/>
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Mobile is required</div>
              <div *ngIf="f.mobile.errors.cannotContainSpace">Mobile cannot contain spaces</div>
              <div *ngIf="f.mobile.errors.minlength">Mobile must be at least 10 characters</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Category</label>
            <input type="text" formControlName="category" class="form-control"
                   placeholder="Enter Category"
                   (keypress)="omitSpecialChars($event)"
                   [ngClass]="{ 'is-invalid': submitted && f.category.errors }"/>
            <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
              <div *ngIf="f.category.errors.required">Category is required</div>
              <div *ngIf="f.category.errors.cannotContainSpace">Category cannot contain spaces</div>
              <div *ngIf="f.category.errors.minlength">Category must be at least 2 characters</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Gender:</label>&nbsp;
        <label>
          <input type="radio" value="Male" formControlName="gender">&nbsp;
          <span class="text-primary">Male</span>&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" value="Female" formControlName="gender">&nbsp;
          <span class="text-primary">Female</span>
        </label>
      </div>

      <div style="padding-left: 400px">
        <button [disabled]="loading" class="btn btn-primary" >
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Submit
        </button>
        <button class="btn btn-primary" (click)="clearFields()">Clear</button>
        <span class="text-danger" style="padding-left: 90px">{{errorMessage}}</span>
      </div>
    </form>
  </div>
</div>
